set default=0
set timeout=10

serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial

insmod all_video

menuentry "Install Linux Mint @MINT_RELEASE@ Server" {
    linux  /casper/vmlinuz boot=casper noprompt console=ttyS0,115200n8 console=tty0 ---
    initrd /casper/initrd
}
menuentry "Install Linux Mint @MINT_RELEASE@ Server (nomodeset)" {
    linux  /casper/vmlinuz boot=casper noprompt nomodeset console=ttyS0,115200n8 console=tty0 ---
    initrd /casper/initrd
}
menuentry "Live rescue shell (no installer)" {
    linux  /casper/vmlinuz boot=casper noprompt mintinstall=off console=ttyS0,115200n8 console=tty0 ---
    initrd /casper/initrd
}
if [ "$grub_platform" = "efi" ]; then
    menuentry "UEFI firmware settings" { fwsetup }
fi
